html, body, .board {
    height: 100%;
    margin: 0;
}

.board {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    grid-template-rows: 5em 5em 5em;
    gap: 0 0;
    grid-auto-flow: row;

}

.board * {
    background: white;
    color: black;
    border: 1px solid black;
    line-height: 2em;
    font-size: 2em;
    float: left;
    font-weight: bold;
    position: relative;
    text-align: center;
}

/*.game-info {*/
/*    margin-left: 20px;*/
/*}*/
